Django==1.5
Flask==0.9
Flask-KVSession==0.3.2
Jinja2==2.6
PIL==1.1.7
Werkzeug==0.8.3
distribute==0.6.35
git-remote-helpers==0.1.0
google-api-python-client==1.1
httplib2==0.8
itsdangerous==0.17
numpy==1.7.0
python-gflags==2.0
simplekv==0.5
virtualenv==1.9.1
wsgiref==0.1.2