<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Yipit Lunch</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="{{ MEDIA_URL }}css/screen.css" rel="stylesheet">
    <!-- The inline style below comes with Twitter Bootstrap Examples -->


    {% if username %}
      You are logged in as {{ username }}. <a href="/lunch2/logout/">Logout now.</a>
    {% else %}
      You are not logged in. <a href="/lunch2/login/">Login now</a>.&nbsp;<a href="/lunch2/register/">Register now</a>.
    {% endif %}

    <style type="text/css">
      body {
        padding-top: 20px;
        padding-bottom: 40px;
      }
    </style>
  </head>

  <body>
    <div class="container">

      <div class="hero-unit">
        <h1>Hello, yipit team members!</h1>

        <p>These are the open meal orders.</p>
          {% if open_mealorders %}
        		<ul>
        		{% for mealorder in open_mealorders %}
            		<li><a href="/lunch2/mealorder/{{ mealorder.id }}/">{{ mealorder }}</a></li>
        		{% endfor %}
        		</ul>
  		    {% else %}
      		  <p>&nbsp;&nbsp; No meal orders are open now.</p>
  		    {% endif %}
        <p>These are some past <a href="/lunch2/mealorder/">{{ "meal orders" }}</a>.</p>
          {% if closed_mealorders %}
        		<ul>
        		{% for mealorder in closed_mealorders %}
            		<li><a href="/lunch2/mealorder/{{ mealorder.id }}/summary/">{{ mealorder }}</a></li>
        		{% endfor %}
        		</ul>
      		{% else %}
          		<p>&nbsp;&nbsp; No past meal orders.</p>
      		{% endif %}
        <p>These are the <a href="/lunch2/restaurant/">{{ "restaurants" }}</a> generally available. Please send Kelly any special requests!</p>
          {% if restaurant_list %}
        		<ul>
        		{% for restaurant in restaurant_list %}
            		<li><a href="/lunch2/restaurant/{{ restaurant.id }}/">{{ restaurant.name }}</a></li>
        		{% endfor %}
        		</ul>
      		{% else %}
          		<p>&nbsp;&nbsp; No restaurants are available.</p>
      		{% endif %}
      </div>

      <hr>

      <footer>
        <p>&copy; Yipit 2013</p>
      </footer>

    </div> <!-- /container -->
  </body>
</html>

