<html>
<h1>Login to Yipit Lunch</h1>
<body bgcolor="#B2ECFF">
{{ message }}

{% if form.errors %}
<p style="color: red">Your username and password didn't match. Please try again.</p>
{% endif %}

<form action="/lunch2/login_post/" method="post">
	<label for="username">Username:</label>
	<input type="text" name="username" id="username" value="" size="30" /><br />
	<label for="password">Password:</label>
    <input type="password" name="password" id="password" value="" size="30"/><br />
    <br />
    <input type="submit" value="Login" />
</form>

<br />
Forgot your password? <a href="/lunch2/resetpassword/">Reset Password</a>
<br /><br />
Not signed up? <a href="/lunch2/register/">Register now</a>
</body>
</html>