<html>
<body bgcolor="#B2ECFF">
<h1>Reset your Yipit Lunch Password</h1>

{{ message }}
<br />
Return <a href="/lunch2/">home</a>
<br /><br />
{% if form.errors %}
<p style="color: red">There was an error with your input. Please try again.</p>
{% endif %}

<form action="/lunch2/resetpassword_post/" method="post">
	{% csrf_token %}
	<label for="username">Email Address:</label>
	<input type="email" name="email" id="email" value="" size="30" /><br />
	<label for="password">New Password:</label>
    <input type="password" name="password" id="password" value="" size="30"/><br />
	<label for="password">Confirm Password:</label>
    <input type="password" name="password2" id="password2" value="" size="30"/><br />
    <br />
    <input type="submit" value="Reset Password" />
</form>

<br />
Not signed up? <a href="/lunch2/register/">Register now</a>
</body>
</html>